@import url('https://fonts.googleapis.com/css?family=Domine');

:root {
  --dark-red: #74150f;
  --orange: #ca7529;
}
* {
  font-family: 'Domine', serif;
}
html {
  overflow: auto;
  background-color: #333333;
}
body {
  margin: 0;
  min-width: 480px;
}
#wrap {
  max-width: 1024px;
  background-color: black;
  margin: 0 auto;
}
.row {
  position: relative;
  font-size: 0;
}


/*
██   ██ ███████  █████  ██████  ███████ ██████
██   ██ ██      ██   ██ ██   ██ ██      ██   ██
███████ █████   ███████ ██   ██ █████   ██████
██   ██ ██      ██   ██ ██   ██ ██      ██   ██
██   ██ ███████ ██   ██ ██████  ███████ ██   ██
*/

header {
  background-color: var(--orange);
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 4.5%;
  z-index: 10;
}
.logo-bg {
  background-color: var(--dark-red);
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: center;
  position: absolute;
}
nav {
  /* flex-grow: 1; */
  width: calc(100% - 4.5% - 340px);
}
nav > ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  display: flex;
  justify-content: space-between;
}
nav li {
  display: inline-block;
  margin: 0;
  transition: all .25s;
}
nav a {
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
  line-height: 70px;
  color: white;
  font-size: 18px;
  padding: 0 8px;
}
nav li:hover {
  background-color: var(--dark-red);
}
.menu-toggle {
  display: none;
}



@media screen and (max-width: 816px) {
  header {
    height: 70px;
  }
  .logo-bg {
    height: 18vw;
    min-height: 120px;
  }
  nav {
    /* flex-grow: 1; */
    width: calc(100% - 4.5% - 340px);
  }
  nav > ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: -270px;
    background-color: var(--dark-red);
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  }
  .show {
    visibility: visible;
    z-index: 1;
    opacity: 1;
    top: 70px;
    transition-delay: 0s, 0s, 0.3s;
  }
  nav li {
    text-align: right;
    display: block;
    margin: 0;
    transition: all .25s;
    border-top: 1px inset #111;
  }
  nav a {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    line-height: initial;
    color: white;
    font-size: 18px;
    padding: 16px 32px;
  }
  nav li:hover,
  nav li:active {
    background-color: var(--orange);
  }
  .menu-toggle {
    display: inline-block;
    font-size: 0;
    width: 35px;
    height: 35px;
    align-self: center;
    background-color: transparent;
    border: none;
    background-image: url('../img/burger-icon.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
  }
}


/*
██    ██ ██ ██████  ███████  ██████  ████████ ██████   ██████  ███    ██
██    ██ ██ ██   ██ ██      ██    ██    ██    ██   ██ ██    ██ ████   ██
██    ██ ██ ██   ██ █████   ██    ██    ██    ██████  ██    ██ ██ ██  ██
 ██  ██  ██ ██   ██ ██      ██    ██    ██    ██   ██ ██    ██ ██  ██ ██
  ████   ██ ██████  ███████  ██████     ██    ██   ██  ██████  ██   ████
*/

main video {
  min-width: 100%;
}
.video-overlay {
  position: absolute;
  width: 100%;
  bottom: 2vw;
  left: 0;
}
.video-container .video-bg {
  display: none;
}

@media screen and (max-width: 620px) {
  .video-container video {
    display: none;
  }
  .video-container .video-bg {
    display: block;
    width: 100%;
  }
  .video-overlay {
    /* bottom: 5vw; */
  }
}

/*
██     ██ ███████ ██       ██████  ██████  ███    ███ ███████     ███    ███ ███████  ██████
██     ██ ██      ██      ██      ██    ██ ████  ████ ██          ████  ████ ██      ██
██  █  ██ █████   ██      ██      ██    ██ ██ ████ ██ █████ █████ ██ ████ ██ ███████ ██   ███
██ ███ ██ ██      ██      ██      ██    ██ ██  ██  ██ ██          ██  ██  ██      ██ ██    ██
 ███ ███  ███████ ███████  ██████  ██████  ██      ██ ███████     ██      ██ ███████  ██████
*/

.welcome-msg {
  background-color: var(--dark-red);
  font-size: 0;
  padding: 0 4.5%;
}
.welcome-msg h1 {
  color: white;
  font-size: 36px;
  line-height: 80px;
  font-weight: normal;
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 620px) {
  .welcome-msg h1 {
    color: white;
    font-size: 5.7vw;
    line-height: 12vw;
    font-weight: normal;
    text-align: center;
    margin: 0;
  }
}

/*
 ██████   █████  ██      ██      ███████ ██████  ██    ██
██       ██   ██ ██      ██      ██      ██   ██  ██  ██
██   ███ ███████ ██      ██      █████   ██████    ████
██    ██ ██   ██ ██      ██      ██      ██   ██    ██
 ██████  ██   ██ ███████ ███████ ███████ ██   ██    ██
*/

.gallery {
  background-image: url('../img/brick-wall-bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 4% 4.5%;
}
.images-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
}
.gallery-img {
  width: 29.3%;
  margin: 0 1% 2%;
  height: 100%;
  border: 4px solid white;
}
.gallery-btn {
  display: block;
  font-size: 30px;
  color: white;
  background-color: black;
  border: 4px solid white;
  min-width: 180px;
  width: 30%;

  margin: 0 auto;
  cursor: pointer;
  font-family: inherit;
  transition: all .25s;
}
.gallery-btn:hover {
  background: var(--orange);
}


@media screen and (max-width: 816px) {
  .gallery-img {
    width: 46%;
  }
}


@media screen and (max-width: 540px) {
  .gallery {
    background-image: none;
    background-color: var(--dark-red);
  }
  .images-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
  }
  .images-container .gallery-img {
    display: none;
  }
  .images-container .gallery-img:first-child {
    display: initial;
    width: 91%;
  }
  .article .gallery-img {
    display: none;
  }
}

/*
 █████  ██████  ████████ ██  ██████ ██      ███████
██   ██ ██   ██    ██    ██ ██      ██      ██
███████ ██████     ██    ██ ██      ██      █████
██   ██ ██   ██    ██    ██ ██      ██      ██
██   ██ ██   ██    ██    ██  ██████ ███████ ███████
*/

.article {
  padding: 4% 4.5%;
  font-size: initial;
  color: white;
}
.article h2 {
  font-weight: normal;
  margin-top: 0;
}
.article p {
  line-height: 1.3;
}
.article img {
  float: left;
  margin-right: 4%;
}
.author {
  font-style: italic;
  text-align: right;
}

/*
███████  ██████   ██████  ████████ ███████ ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
█████   ██    ██ ██    ██    ██    █████   ██████
██      ██    ██ ██    ██    ██    ██      ██   ██
██       ██████   ██████     ██    ███████ ██   ██
*/

footer {
  background-color: var(--dark-red);
  display: flex;
  justify-content: space-between;
  padding: 0 4.5%;
  align-items: center;
}
footer p {
  color: white;
}
footer .social {
  display: flex;
  justify-content: space-between;
}
.social a:nth-child(2) {
  margin: 0 20px;
}
.social img {
  border-radius: 5px;
  transition: all .25s;
}
.social a:hover > img {
  background: var(--orange);
}
